<div class="d-flex align-content-start flex-wrap py-3">
  <div class='col-3'>
    <%= image_tag 'Logo.png', size: '150x100', class:'rounded' %>
    <p>クッキー</p>
    <p>¥1000</p>
  </div>
  <div class='col-3'>
    <%= image_tag 'Logo.png', size: '150x100', class:'rounded' %>
    <p>クッキー</p>
    <p>¥1000</p>
  </div>
  <div class='col-3'>
    <%= image_tag 'Logo.png', size: '150x100', class:'rounded' %>
    <p>クッキー</p>
    <p>¥1000</p>
  </div>
  <div class='col-3'>
    <%= image_tag 'Logo.png', size: '150x100', class:'rounded' %>
    <p>クッキー</p>
    <p>¥1000</p>
  </div>
  <div class='col-3'>
    <%= image_tag 'Logo.png', size: '150x100' %>
    <p>クッキー</p>
    <p>¥1000</p>
  </div>
  <div class='col-3'>
    <%= image_tag 'Logo.png', size: '150x100' %>
    <p>クッキー</p>
    <p>¥1000</p>
  </div>
  <div class='col-3'>
    <%= image_tag 'Logo.png', size: '150x100' %>
    <p>クッキー</p>
    <p>¥1000</p>
  </div>
  <div class='col-3'>
    <%= image_tag 'Logo.png', size: '150x100' %>
    <p>クッキー</p>
    <p>¥1000</p>
  </div>
</div>




  <!--<% @products.each do |product| %>-->
  <!--  <%= image_tag product.get_image, size:'150x100' %>-->
  <!--  <%= product.name %>-->
  <!--  ¥<%= product.price %>-->
  <!--<% end %>-->