<div class="container my-5">
  <div class="row">
    <div class="col-md-2 mt-3">
      <h5>ジャンル検索</h5>
      <%= render 'genres', genres: @genres %>

    </div>
    <div class="col-md-10 mt-3">
      <div class="row">
        <div class="col-5">
          <%= image_tag @product.get_image, size: '400x300', class: 'img-fluid img-thumbnail shadow' %>
        </div>
        <div class="col-7 px-5">
          <h3><strong><%= @product.name %></strong></h3>
          <p class="my-3"><strong><%= @product.information %></strong></p>
          <div>
            <span class="h4">¥ <%= @product.add_tax_price.to_s(:delimited) %></span>
            <span class="h6">(税込)</span>
          </div>
          <div class="mt-5">
            <% if (customer_signed_in?) && (@product.is_active == true) %>
              <%= form_with model: @cart_item do |f| %>
                <%= f.hidden_field :product_id, value: @product.id %>
                <%= f.select :amount, *[1..100], include_blank: "個数選択" %>
                <%= f.submit 'カートに入れる', class: 'btn btn-sm btn-success ml-3' %>
              <% end %>
            <% elsif @product.is_active != true %>
              <span class="btn btn-danger disabled">売切れ</span>
            <% end %>
          </div>
      </div>
    </div>
  </div>
</div>
