<h5>管理者ログイン</h5>

<%= form_with model: @admin, url: session_path(resource_name), local: true do |f| %>
  <div class="field">
    <%= f.label "メールアドレス" %>
    <%= f.email_field :email, autofocus: true, placeholder: "sample@example.com" %>
  </div>

  <div class="field">
    <%= f.label "パスワード" %>
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <div class="actions">
    <%= f.submit "ログイン" %>
  </div>
<% end %>

<%= render "admin/shared/links" %>
