<div class="container my-5">
  <div class="row">
    <div class="col">
      <h3><span class="bg-light bg-gradient">注文履歴詳細</span></h3>
      <table class="table table-borderless">
        <tbody>
          <tr>
            <td class="w-25"><strong class="border-bottom">購入者</strong></td>
            <td><%= @order.customer.full_name %></td>
          </tr>
          <tr>
            <td class="w-25">注文日</td>
            <td><%= @order.created_at.strftime('%Y/%m/%d') %></td>
          </tr>
          <tr>
            <td class="w-25">配送先</td>
            <td><%= @order.address %></td>
          </tr>
          <tr>
            <td class="w-25">支払方法</td>
            <td><%= @order.payment_type %></td>
          </tr>
          <tr>
            <td class="w-25">注文ステータス</td>
            <td>
              <%= form_with model: @order, url: admin_order_path(@order.id), method: :patch, local:true do |f| %> 
                <%= f.select :status, Order.all, :status, :status %>
                <%= f.submit "更新", class: "btn btn-success ml-3" %>
              <%end%>
            </td>
          </tr>
        </tbody>
      </table>
      
      <table class="table table-borderless border-top mt-3">
         <thead class="bg-light">
           <th class="border-top">商品ID</th>
            <th>商品名</th>
           <th>単価（税込）</th>
            <th>数量</th>
          <th>制作ステータス</th>
        </thead>
      <tbody>
          <% @order_products.each do |order_product| %>
            <tr>
              <td><%= order_product.product.name %></td>
              <td><%= order_product.price.to_s(:delimited) %></td>
              <td><%= order_product.amount %></td>
              <td></td>
              <td>
              <%= form_with model: order_product, url: admin_order_product_path(order_product.id), method: :patch, local:true do |f| %> 
                <%= f.select :product_status, OrderProduct.all, :making_status, :product_status %>
                <%= f.submit "更新", class: "btn btn-success ml-3" %>
              <%end%>
              </td>
            </tr>
          <%end%>
        </tbody>
      </table>
    </div>
  </div>
</div>