<div class="container">
  <div class="row">
    <div class="col">
      <h5>ジャンル一覧・追加</h5>
      <table class="table table-hover table-inverse">
        <%= form_with model: @genre, url: admin_genres_path, local:true do |f| %>
          <h4>ジャンル名</h4>
          <%= f.text_field :name %>

          <%= f.submit '新規登録' %>
        <% end %>

        <% @genres.each do |genre| %>
        <thead>
          <tr>
             <th>ジャンル</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="col-3"><%= genre.name %></td>
            <td><%= link_to "編集する", edit_admin_genre_path(genre) %></td>
          </tr>
        </tbody>
        <% end %>
      </table>
    </div>
  </div>
</div>