<div class="container my-5">
  <div class="row">
    <div class="col-10">
      <h3 class="mb-5"><span class="bg-light bg-gradient">配送先登録／一覧</span></h3>
      <%= render "public/shared/error_messages", resource: @address %>
      
      <%= form_with model: @address, url: customers_addresses_path, local:true do |f| %>
          <div class="row">
            <div class="col-4">
              <ul class="list-unstyled">
                <li><%= f.label :postal_code, "郵便番号（ハイフンなし）" %></li>
                <li class="mt-3"><%= f.label :address, "住所" %></li>
                <li class="mt-3"><%= f.label :name, "宛名" %></li>
              </ul>
            </div>
          
            <div class="col-5">
              <ul class="list-unstyled">
                <li><%= f.text_field :postal_code, placeholder: "0000000" %></li>
                <li class="mt-3"><%= f.text_field :address, placeholder: "東京都渋谷区代々木神薗町0-0", class: "w-100" %></li>
                <li class="mt-3"><%= f.text_field :name, placeholder: "令和道子" %></li>
              </ul>
            </div>
          
          <div class="form-group col-3 d-flex align-items-end">
            <%= f.submit "新規登録", class: "btn btn-success" %>
          </div>
        </div>
        <%end%>
        
      
      
      <table class="table table-bordered">
        <thead>
          <th>郵便番号</th>
          <th>住所</th>
          <th>宛名</th>
          <th></th>
        </thead>
        <tbody>
          <% @addresses.each do |address| %>
            <tr>
              <td><%= address.postal_code %></td>
              <td><%= address.address%></td>
              <td><%= address.name %></td>
              <td class="text-center">
                <%= link_to "編集する", edit_customers_address_path(address.id), class: "btn btn-success mr-2" %>
                <%= link_to "削除する", customers_address_path(address.id), method: :delete, class: "btn btn-danger" %>
              </td>
            </tr>
          <%end%>
        </tbody>
      </table>
    </div>
  </div>
</div>