<div class="container my-5">
  <div class="row mb-3">
    <div class="col-9">
      <h4><span class="text-light bg-secondary">　ショッピングカート　</span></h4>
    </div>
    <div class="col-3">
      <%= link_to 'カートを空にする', destroy_all_cart_items_path, method: :delete, class:'btn btn-danger' %>
    </div>
  </div>

  <% if current_customer.cart_items.present? %>
    <div class="row">
      <table class="table">
        <thead>
          <th>商品名</th>
          <th>単価(税込)</th>
          <th>数量</th>
          <th>小計</th>
          <th></th>
        </thead>
        <tbody>
        <% @cart_items.each do |cart_item| %>
          <tr>
            <td>
              <%= image_tag cart_item.product.get_image, size: '100x80', class: 'img-fluid' %>
              <%= cart_item.product.name %>
            </td>
            <td><%= cart_item.product.add_tax_price.to_s(:delimited) %></td>
            <td>
              <%= form_with model: cart_item do |f| %>
                <%= f.select :amount, *[1..100] %>
                <%= f.submit '変更', class: 'btn btn-sm btn-success' %>
              <% end %>
            </td>
            <td><%= cart_item.subtotal.to_s(:delimited) %></td>
            <td>
              <%= link_to '削除する', cart_item_path(cart_item.id), method: :delete, class: "btn btn-sm btn-danger" %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
    <div class="row">
      <div class="col-9">
        <%= link_to '買い物を続ける', cart_item_path(cart_item.id), method: :delete, class: "btn btn-sm btn-danger" %>
      </div>
      <div class="col-3"></div>
    </div>


  <% else %>
    <h1>現在カートに商品はありません。</h1>
  <% end %>
</div>