 <div class='container shadow-lg'>
    <div class='row'>
      <div class="col-lg-8 col-md-10 col-sm-12 mx-6 mx-sm-auto px-auto my-5">

        <h3 class="mb-5 border-bottom"><span>新規会員登録</span></h3>

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= render "public/shared/error_messages", resource: resource %>
            <div class="form-group form-inline my-3">
              <%= f.label :last_name, '名前', class:'col-3' %>
              <%= f.label :last_name, '(姓)', class:'col-1' %>
              <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name", class:'col-3' %>
              <%= f.label :first_name, '(名)', class:'col-1' %>
              <%= f.text_field :first_name, autocomplete: "first_name", class: "name", class:'col-3' %>
            </div>

            <div class="form-group form-inline my-3">
              <%= f.label :last_name, 'フリガナ', class:'col-3' %>
              <%= f.label :last_name_kana, '(セイ)', class:'col-1'%>
              <%= f.text_field :last_name_kana, autocomplete: "last_name_kana", class: "col-3" %>
              <%= f.label :first_name_kana, '(メイ)', class:'col-1'%>
              <%= f.text_field :first_name_kana, autocomplete: "first_name_kana", class: "col-3" %>
            </div>

            <div class="form-group form-inline">
              <%= f.label :email, 'メールアドレス', class:'col-4' %>
              <%= f.email_field :email, autocomplete: "email", class:'col-3' %>
            </div>

            <div class="form-group form-inline">
              <%= f.label :postal_code, '郵便番号(ハイフンなし)', class:'col-4'%>
              <%= f.text_field :postal_code, autocomplete: "postal_code", class:'col-3' %>
            </div>

            <div class="form-group form-inline">
              <%= f.label :address, '住所', class:'col-4' %>
              <%= f.text_field :address, autocomplete: "address", class:'col-7' %>
            </div>

            <div class="form-group form-inline">
              <%= f.label :phone_num, '電話番号(ハイフンなし)', class:'col-4' %>
              <%= f.text_field :phone_num, autocomplete: "phone_num", class:'col-3' %>
            </div>

            <div class="form-group form-inline">
              <%= f.label :password, 'パスワード(6文字以上)', class:'col-4' %>
              <%= f.password_field :password, autocomplete: "new-password", class:'col-3' %>
            </div>

            <div class="form-group form-inline">
              <%= f.label :password_confirmation, 'パスワード(確認用)',class:'col-4' %>
              <%= f.password_field :password_confirmation, autocomplete: "new-password", class:'col-3' %>
            </div>

            <div class="form-group form-inline">
              <%= f.submit "新規登録", class:'btn btn-success btn-lg col-2 offset-4'%>
            </div>
        <% end %>
        <h3 class="mb-5 pt-3 border-bottom "><span>すでに登録済みの方</span></h3>
        <p class="form-group form-inline offset-4"><%= render "public/shared/links" %>からログインしてください</p>
      </div>
    </div>
  </div>