<div class="container">
  <div class="row">
    <div class="col">
        <h3><span class="bg-light bg-gradient">商品新規登録</span></h3>
        <%= form_with model: @product, url: admin_products_path, local:true, class: "container text-center pl-9" do |f| %>
        <div class="form-group row">
            <label class="col-4 text-right">商品画像</label>
            <%= f.file_field :image, class: "col-4 form-control-file pl-0", accept: "image/*" %>
        </div>
        <div class="form-group row">
          <label class="col-4 text-right">商品名</label>
          <%= f.text_field :name, class: "col-4 form-control name" %>
        </div>
        <div class="form-group row">
          <label class="col-4 text-right">商品説明</label>
          <%= f.text_area :information, class: "col-4 form-control infomation" %>
        </div>
        <div class="form-group row">
          <label class="col-4 text-right">ジャンル</label>
          <%= f.select :genre_id, [["ケーキ", "cake"],["焼き菓子", "baked"],["プリン", "pudding"],["キャンディ", "candy"]], include_blank: "--選択してください--" %>
        </div>
        <div class="form-group row">
          <label class="col-4 text-right">税込み価格</label>
          <%= f.text_field :price, class: "col-4 form-control price" %>円
        </div>
        <div class="form-group row">
          <label class="col-4 text-right">販売ステータス</label>
          <%= f.radio_button :is_active, :true %>
          <%= f.label :is_active, "販売中", {value: :true, class: "mr-5"} %>
          <%= f.radio_button :is_active, :false %>
          <%= f.label :is_active, "販売停止中", {value: :falese} %>
        </div>
        <div class="form-group text-center">
          <%= f.submit "新規登録", class: "btn btn-success  btn-lg" %>
        </div>
        <%end%>
        <%= @products.each do |product| %>
          <%= product.name %>
          <%= image_tag product.get_image, size: '100 x 100' %>
          <%= product.infomation %>
          <%= product.price %>円
        <%end%>
    </div>
  </div>
</div>