<div class="container my-5">
  <div class="row">
    <div class="col-lg-11 col-sm-12 mx-auto">
      <div class="row mb-3">
        <div class="col-7">
          <h4><span>　ショッピングカート　</span></h4>
        </div>
      </div>

      <% if current_customer.cart_items.present? %>
        <div class="row">
          <table class="table table-bordered col-7">
            <thead class="bg-light text-center">
              <th>商品名</th>
              <th>単価(税込)</th>
              <th>数量</th>
              <th>小計</th>
            </thead>
            <tbody>
            <% @cart_items.each do |cart_item| %>
              <tr>
                <td>
                  <%= image_tag cart_item.product.get_image, size: '50x30', class: 'img-fluid' %>
                  <%= cart_item.product.name %>
                </td>
                <td class="text-right pr-3">
                  <%= cart_item.product.add_tax_price.to_s(:delimited) %>
                </td>
                <td class="text-center">
                  <%= cart_item.amount%>
                </td>
                <td class="text-right pr-3">
                  <%= cart_item.subtotal.to_s(:delimited) %>
                </td>
              </tr>
            <% end %>
            </tbody>
          </table>
          <table class="table table-bordered col-3 offset-1 align-self-start">
            <tbody>
                <tr>
                    <th scope="row" class='bg-light col-lg-4'>送料</th>
                    <td class='col-lg-8 py-2'>800</td>
                </tr>
                <tr>
                    <th scope="row" class='bg-light col-lg-4'>商品合計</th>
                    <td class='col-lg-8 py-2'><%= @total_price.floor.to_s(:delimited) %></td>
                </tr>
                <tr>
                    <th scope="row" class='bg-light col-lg-4'>請求金額</th>
                    <td class='col-lg-8 py-2'><%= (@total_price+800).to_s(:delimited) %></td>
                </tr>
            </tbody>
          </table>
        </div>

        <div class="col-7">
          <span class="h4 row">支払方法</span>
          <%= Order.find_by(payment_method:'').payment_method%>

          <span class="h4 row">お届先</span>
          <%= @order.postal_code %> <%= @order.address %>
          <%= @order.name %>
        </div>
      <% else %>
        <h1>現在カートに商品はありません。</h1>
      <% end %>
  </div>
</div>