<div class="container my-5">
  <div class="row">
    <div class="col-lg-10 col-sm-12 mx-auto">
      <div class="row mb-3">
        <div class="col-12">
          <h4><span class="text-light bg-secondary">　注文履歴一覧　</span></h4>
        </div>
      </div>
　　　<div class="row">
      <% if current_customer.orders.present? %>
        <table class="table table-bordered">
          <thead class="bg-light text-center">
            <th>注文日</th>
            <th>配送先</th>
            <th>注文商品</th>
            <th>(仮)注文個数</th>
            <th>支払金額</th>
            <th>ステータス</th>
            <th>注文詳細</th>
          </thead>
          <tbody>
          <% @orders.each do |order| %>
            <tr>
              <td>
                <%= l order.created_at, format: :date %>
              </td>
              <td>
                <%= order.postal_code %><br>
                <%= order.address %><br>
                <%= order.name %>
              </td>
              <td>
                <% order.order_products.each do |order_product| %>
                  <%= order_product.product.name %><br>
                <% end %>
              </td>
              <td>
                <% order.order_products.each do |order_product| %>
                  <%= order_product.amount %>
                <% end %>
              </td>
              <td>
                <%= order.total_payment %> 
              </td>
              <td>
                <%= order.status %>
              </td>
              <td class="text-center">
                <%= link_to '表示する', order_path(order.id), class: "btn btn-sm btn-primary" %>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      <% else %>
        <h3 class="col-10 mx-auto text-center border-bottom">注文履歴はありません。</h3>
      <% end %>
      </div>
    </div>
  </div>
</div>

