<div class="container">
  <div class="row">
    <div class="col-md-8 col-sm-12 mx-6 mx-sm-auto px-auto my-5">
      <h4 class="mb-5"><span class="text-dark bg-secondary">　ログイン　</span></h4>
      <div class="ml-3">
        <p class="mb-3 border-bottom"><strong>　会員の方はこちらからログイン　</strong></p>
        <div class="mb-5 text">
          <%= form_with model: @customer, url: customer_session_path do |f| %>
            <div class="form-group row">
              <%= f.label :メールアドレス, class:'col-3' %>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "sample@example.com", autocomplete: :off, class:'col-5 offset-1' %>
            </div>
            <div class="form-group row">
              <%= f.label :パスワード, class:'col-3' %>
              <%= f.password_field :password, autocomplete: "current-password", class:'col-5 offset-1' %>
            </div>
            <div class="form-group row">
              <span class="col-4"></span>
              <%= f.submit "ログイン", class: "btn btn-sm btn-primary" %>
            </div>
          <% end %>
        </div>
        <p class="mb-3 border-bottom"><strong>　会員登録がお済みでない方　</strong></p>
        <p class="text-center"><%= render "public/shared/links" %>　から新規登録を行なってください。</p>
      </div>
    </div>
  </div>
</div>
